.description{
    margin-left:2em;
    margin-top:1em;
    font-weight:bold;
    font-size:1em;
    font:normal;
}

.example{
    margin-left:2em;
    margin-top:1em;
    font-weight:bold;
}

#formLayer{
    margin-top:1em;
    margin-left:1em;
    width:70%;
    height:90%;
}

textarea{
    /*margin-left:2em;*/
    margin-top:1em;
}

#displayTreeView{
    padding:30px;
}

#close{
    position:relative;
    top:0px;
    right:0px;
}

ul.tree, ul.tree ul {
     list-style-type: none;
     background: url(../img/vline.png) repeat-y;
     margin: 0;
     padding: 0;
}
   
ul.tree ul {
     margin-left: 10px;
}

ul.tree li {
     margin: 0;
     padding: 0 12px;
     line-height: 20px;
     background: url(../img/node.png) no-repeat;
     color: #369;
     font-weight: bold;
}
